/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html {
  height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.25rem;
  font-size: 1.0em;
  height: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
pre{
  white-space: pre-wrap;
  word-wrap: break-word;
}

img, a{
  touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

h6 {
  font-size: 1.27rem;
}

nav ul a.a-display-padding-offset {
  display: inline !important;
  padding: 0 !important;
}

nav .content-belt li.li-width-initialize {
  width: initial !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

body {
  //background-color: $DEFAULT-BODY-BACKGROUND-COLOR;
  background-color: #eceff1;
}